body {
  font-size: 16px;
}

.inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

.inner-small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tint-bg {
  background-color: #1ABB9C;
  color: #FFF;
}
.light-bg {
  background-color: #F2F5F7;
}


.dark-bg {
  background-color: #283645;
  color: #707E8C;
}

.dark-bg a {
  color: #AAB6C2;
}
.input-group {
  width: 100%;
  margin: 0 0 10px 0;
}
